/* Generic styles*/
html {
    font-size: 100%;
}

body {
    background-color: #000000;
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: 1em;
}

.bold {
    font-weight: bold;
}

p, div.paragraph {
    padding-bottom: 0.7em;
}

a, a:link, a:visited, a:hover {
    text-decoration: underline;
    font-weight: normal;
    color: #437996;
}
h1 {
    font-size: 2em;
    padding-bottom: 0.5em;
}

h2 {
    font-size: 1.5em;
    padding-bottom: 1em;
}
h3 {
    font-size: 1.2em;
    padding-bottom: 1.2em;
}

/* Layout Styles */
.fixedWidthWrapper {
    width: 64em; /* 1024px */
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    zoom: 1;  /* For IE7 display bug */
    z-index: 100;
}

#content {
    width: 62em;
    padding: 1em;
    background: #FFFFFF;
    min-height: 31.25em;
    overflow: hidden;
    border-top: 0.5em solid #253066;
}

#header {
    background: #000000 url('images/smoke170.png') repeat-x left top;
    height: 10em;
    z-index: 50;
    width: 100%;
}

#header-main {
    background: #000000 url('images/headerBackgroundFade.png') repeat-x left top;
    height: 10em;
    overflow: hidden;
    position: relative;
}

#header-logo {
    padding: 0.2em 0.5em;
}

#header-title {
    padding: 0 0.43em;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    font-size: 4.1em;
    font-weight: bold;
    color: #FFFFFF;
}

#header-address {
    padding: 0.2em 1.6em;
    position: absolute;
    top: 4.55em;
    right: 0;
    overflow: hidden;
    font-size: 1.2em;
    font-weight: bold;
    color: #253066;
}

#menu {
    padding: 0 0.5em;
    position: absolute;
    bottom: 0.2em;
    right: 0;
    overflow: hidden;
    font: bold 1.3em Helvetica, Arial, Sans-Serif; text-transform: uppercase;
    background-color: #000000;
    color: #e09d8d;
    width: 39em;
}
#menu ul {
    text-align: center;
}
#menu li {
    float: left;
    list-style: none;
    padding: 0.2em 0 0.2em 2.4em;
}
#menu li.short-padding {
    padding-left: 1.2em;
}
#menu li.active {
    padding: 0 0 0 1.2em;
}
#menu li.active div {
    padding: 0.2em 1.2em;
    background-color: #e09d8d;
    color: #253066;
}
#menu li:hover a, #menu li:hover a:link, #menu li:hover a:visited, #menu li:hover a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}
#menu a, #menu a:link, #menu a:visited, #menu a:hover {
    text-decoration: none;
    font-weight: bold;
    color: #e09d8d;
}
#footer {
    height: 6em;
    background: #000000 url('images/flames100.jpg') repeat-x left bottom;
    width: 100%;
    overflow: hidden;
}
#footer-main {
    width: 52em;
    background-color: #000000;
    text-align: center;
    overflow: hidden;
    position: relative;
    height: 6em;
    color: #f2cf57;
}
#footer-text {
    padding: 0.5em 0;
    overflow: hidden;
    position: absolute;
    bottom: 0.2em;
    left: 1.3em;
}
#facebook-link {
    padding: 0.5em 0;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    right: 1.4em;
}

/* END Layout Styles */

div.image {
    float: right;
    position: relative;
    padding: 0 0 1em 1em;
}