#slider1_container {
    position: relative;
    width: 992px;
    height: 160px;
    overflow: hidden;
    padding: 1em 0;
}

#slider-loading {
    position: absolute;
    top: 0;
    left: 0;
}

#slider-slides {
    cursor: move;
    position: absolute;
    left: 0;
    top: 0;
    width: 992px;
    height: 160px;
    overflow: hidden;
}